/*Responsive*/
/*For Tablets*/
@media screen and (max-width: 960px) {
    .slider-heading {
        font-size: 30px !important;
        margin-top: -170px !important;
    }
    .slider-title {
        font-size: 12px !important;
    }
    .btn-join {
        font-size: 14px !important;
    }
    .headings {
        font-size: 20px !important;
    }
    .hr {
        margin-bottom: 10px;
    }
    .find-div{
        margin-top: -60px;
    }
    .about-section{
        margin-top: -60px;
    }
    .popup-map{
        left: 0px !important;
    }
    .mobile-icons{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 480px) {

    .slider-heading {
        font-size: 24px !important;
        margin-top: -150px !important;
    }
    .slider-title {
        font-size: 10px !important;
        margin-bottom: 5px;
    }
    .btn-join {
        font-size: 10px !important;
    }
    .footer-title {
        font-size: 9px;
    }
    .mobile-size{
        height:250px;
    }
    .find-div{
        margin-top: -60px;
    }

    .about-section{
        margin-top: -60px;
    }
    .mobile-picker{
        margin-left: -44px;
    }
    .popup-map{
        left: 0px !important;
    }
    .mobile-icons{
        margin-bottom: 5px;
    }
}
