/*Responsive*/
/*For Ipad*/
@media screen and (max-width: 480px){
    .slider-heading {
        font-size: 28px !important;
        margin-top: -160px !important;
    }
    .slider-title {
        font-size: 12px;
    }
    .btn-join {
        font-size: 10px !important;
    }
    .headings {
        font-size: 20px !important;
    }
    .hr {
        margin-bottom: 10px;
    }
}
