.join-buttons {
    position: relative;
    top: -57px;
}

.section {
   /* overflow: hidden;*/
}

.intro-section {
    padding-top: 0;
}

.find-input {
    margin-bottom: 12px;
}

.content-wrap {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll
}

.section-row {
    padding: 12px;
}

.map-section {
    padding-top: 100px;
}

.img-profile-thumbnail {
    width: 200px;
}

.angular-google-map-container {
    height: 600px;
}

/*navigation*/
#nav-height{
    border-bottom: 2px solid rgba(241, 75, 32, 0.91) !important;
    background-color: rgba(215, 215, 215, 0.4);
}
.page-scroll {
    font-weight: bold;
    color: #333 !important;
}
.page-scroll:hover{
    font-weight: bold;
    color: #F14B20 !important;
}
.fa-icon{
    color:#333;
}
.fa-icon:hover{
    color:#62C4E2;
}
.input-color{
    background: #fff;
    color:#333;
}
.input-color:hover{
    border: 1px solid #62C4E2;
    color: #F14B20 !important;
    background: #fff;
}
