.join-buttons {
    position: relative;
    top: -57px;
}

.section {
   /* overflow: hidden;*/
}

.intro-section {
    padding-top: 0;
}

.find-input {
    margin-bottom: 12px;
}

.content-wrap {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll
}

.section-row {
    padding: 12px;
}

.map-section {
    padding-top: 100px;
    margin-bottom: 0;
}

.img-profile-thumbnail {
    width: 200px;
}

.angular-google-map-container {
    height: 550px;
}

/*navigation*/
#nav-height {
    border-bottom: 2px solid #F14B20 !important;
    background-color: rgba(255, 255, 255, 0.4);
    /* IE 8
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; */

    /* IE 5-7
    filter: alpha(opacity=70); */

    /* Netscape
    -moz-opacity: 0.7; */

    /* Safari 1.x
    -khtml-opacity: 0.7;*/

    /* Good browsers
    opacity: 0.7 !important;*/
}
#nav-height .form-group input,
#nav-height .form-group button {
    /*background-color: transparent;*/
}
#nav-height .form-group input:hover,
#nav-height .form-group button:hover {
    /*background-color: transparent;*/
}
.page-scroll {
    font-weight: bold;
    color: #333 !important;
    text-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5), 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5);
}
.page-scroll:hover{
    font-weight: bold;
    color: #F14B20 !important;
}
.fa-icon{
    color:#333;
}
.fa-icon:hover{
    color:#62C4E2;
}
.input-color{
    background: #fff;
    color:#333;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity=90);

    /* Netscape */
    -moz-opacity: 0.9;

    /* Safari 1.x */
    -khtml-opacity: 0.9;

    /* Good browsers */
    opacity: 0.9 !important;
}
.input-color:hover{
    border: 1px solid #62C4E2;
    color: #F14B20 !important;
    background: #fff;
}

.style-btn {
    color: #F14B20 !important;
    font-weight: bold;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;

    /* Good browsers */
    opacity: 0.8 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent !important;
}
/*Slideshow*/
#video:hover {
    filter: contrast(1) grayscale(0.3) sepia(0.2);
    -webkit-filter: contrast(1) grayscale(0.3) sepia(0.2);
    -moz-filter: contrast(1) grayscale(0.3) sepia(0.2);
    -o-filter: contrast(1) grayscale(0.3) sepia(0.2);
    -ms-filter: contrast(1) grayscale(0.3) sepia(0.2);
}
.slider-heading{
    font-size: 60px;
    color: #fff;
    font-weight: 100;
    margin-top: -400px;
    z-index: 200;
    position: relative;
}
.join-btn{
    z-index: 500;
    margin-top: 0px;
    position: relative;
    width: 150px;
    height: auto;
    background-color: #F14B20;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;
    opacity: 0.8;
    transform: translateX(335%) translateY(10%);
    -webkit-transform: translateX(335%) translateY(10%);
}
 .join-btn:hover{
    background-color: #f13a20 !important;
    color: #fff !important;
}
.carpool-btn{
    background-color: #F14B20;
    color: #fff;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.carpool-btn:hover{
    background-color: #f13a20 !important;
    color: #fff !important;
}
/*Find a car section*/
.find-div{
    margin-top: -20px;
}

.hr{
    border-top: 1px solid #62C4E2 !important;
}

/*footer*/
.footer{
    background-color: #F14B20;
}
.footer-title{
    color:#fff;
    font-size: 12px;
}
